{% extends '_base.html' %}

{% block title %}
    Список записей
{% endblock %}


{% block content %}
    {% for post in object_list %}
        <div>
            <b>{{ post.name }}</b>
            <div>
                {{ post.content }}
            </div>
            <img src="{{ post.cover.url }}" alt="{{ post.name }}">
            <em>{{ post.pub_date }}</em>
            <ul>
                <li><a href="{% url 'post:detail' post.pk %}">Подробнее</a></li>
                <li><a href="{% url 'post:update' post.pk %}">Редактировать</a></li>
                <li><a href="{% url 'post:delete' post.pk %}">Удалить</a></li>
            </ul>
        </div>
    {% endfor %}
{% endblock %}
